<div class="card mb-3 is_table">
    <div class="card-header">
        <i class="fa fa-html5 fa-2x"></i>
        <b>Skills</b>
    </div>
    <div class="text-right" style="padding-top:5px">
        <a href="/admin/skills/new" class="btn btn-success">New skill</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info"
                            style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                        style="width: 134px;">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending"
                                        style="width: 209px;">Title</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending"
                                        style="width: 93px;">Class icon</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending"
                                        style="width: 91px;">Create Time</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"
                                        style="width: 72px;">Update Time</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"
                                        style="width: 72px;">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Id</th>
                                    <th rowspan="1" colspan="1">Title</th>
                                    <th rowspan="1" colspan="1">Class icon</th>
                                    <th rowspan="1" colspan="1">Create Time</th>
                                    <th rowspan="1" colspan="1">Update Time</th>
                                    <th rowspan="1" colspan="1">Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% if(data && data[1]){%>
                                    <% data[1].forEach(skill=> {%>
                                        <tr role="row" class="odd">
                                            <td>
                                                <%= skill.id%>
                                            </td>
                                            <td class="sorting_1">
                                                <%= skill.title%>
                                            </td>
                                            <td>
                                                <%= skill.html_icon%>
                                            </td>
                                            <td>
                                                <%= skill.created_at%>
                                            </td>
                                            <td>
                                                <%= skill.updated_at%>
                                            </td>
                                            <td style="display: flex; justify-content: space-between">
                                                <a href="/admin/skills/edit/<%= skill.id%>" class="btn btn-info">Edit</a>
                                                <button skill_id="<%= skill.id%>" class="btn btn-danger skill_delete">Delete</button>

                                            </td>
                                        </tr>
                                        <%})%>
                                            <%}%>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>