<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Edit post</h3>
                    </div>
                    <div>
                        <%if(data && data.error){%>
                            <div id="login-alert" class="alert alert-danger col-sm-12">
                                <%= data.error%>
                            </div>
                            <%}
                            %> 
                            </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="" method="" role="form">
                            <div>
                                <input type="hidden" name="id" tabindex="1" class="form-control id" placeholder="Id" value="<% if(data && data.post) {%> <%= data.post.id%> <%} %>">

                            </div>
                            <div class="form-group">
                                <input type="text" name="title" tabindex="1" class="form-control title" placeholder="Title" value="<% if(data && data.post) {%> <%= data.post.title%> <%} %>">
                            </div>
                            <div class="form-group">
                                <textarea style="resize: none;" type="text" name="content" tabindex="1" class="form-control" placeholder="Content">
                                <% if(data && data.post) {%>
                                    <%= data.post.content%>
                                        <%} %></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" name="author" tabindex="1" class="form-control author" placeholder="Author" value="
                                <% if(data && data.post) {%>
                                    <%= data.post.author%>
                                        <%} %>">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="button"  tabindex="4" class="form-control btn btn-success post_edit" value="Edit post">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

