<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>

    <%-include layout/head%>

</head>

<body>
    <%-include layout/navDetail%>

        <%-include layout/header%>

            <div class="container">
                <div class="row">
                    <div style="margin: 100px 0px 100px 0px;" class="col-lg-8 col-md-10 mx-auto">

                        <div style="width: 60%;  margin: 0 auto;">
                            <a href="#">
                                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Elon_Musk_2015.jpg/250px-Elon_Musk_2015.jpg"
                                    alt="">
                            </a>
                        </div>
                        <div>
                            <p>
                                Elon Musk (sinh ngày 28 tháng 6 năm 1971) là một nhà phát minh, doanh nhân, tỉ phú người Mỹ.[4] Ông được biết đến với tư
                                cách người sáng lập SpaceX và đồng sáng lập Tesla Motors và PayPal. Tại SpaceX ông là CEO
                                và Trưởng bộ phận thiết kế và ở Tesla Motors ông là Chủ tịch, CEO và Kiến trúc sư sản phẩm.
                                Musk cũng là Chủ tịch của SolarCity. Từ nhỏ Elon đã là một thần đồng, ông sang Canada năm
                                17 tuổi rồi sau đó là Hoa Kỳ để học tập và theo đuổi ước mơ phát triển các công nghệ thay
                                đổi tương lai loài người. Ông là người đóng góp quan trọng vào sự phát triển của thanh toán
                                trực tuyến, phát triển năng lượng sạch và các hệ thống giao thông tiên tiến, chinh phục không
                                gian,... Ông là người gây cảm hứng cho nhân vật Tony Stark trong Iron Man. Ông là người mà
                                nhiều người hâm mộ.
                            </p>
                        </div>
                    </div>





                </div>
            </div>
            </div>

            <%-include layout/footer%>
                <%-include layout/bottom%>



</body>

</html>