<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog</title>

  <%-include layout/head%>

</head>

<body id="page-top">

  <%-include layout/nav%>

    <%-include layout/header%>


      <%-include layout/services%>

        <%-include posts/post%>

          <%-include layout/portfolio%>

            <%- include layout/about%>

              <%-include layout/team%>

                <%-include layout/company%>

                  <%-include layout/contact%>

                    <%-include layout/footer%>

                      <%-include layout/modal%>

                        <%-include layout/bottom%>

</body>

</html>