<!DOCTYPE html>
<html lang="en">

<head>

  <style>
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home</title>

  <%-include layout/head%>

</head>

<body id="page-top">

  <%-include layout/nav%>

    <%-include layout/header%>

      <%-include block/about%>

        <%- include block/progress%>

          <%-include skills/skill_index%>

            <%-include projects/project_index%>

              <%-include posts/posts_index%>

                <%- include block/address%>

                  <%-include layout/footer%>

                    <%-include layout/bottom%>

</body>

</html>