<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <% if(data && data.post.title){%>
            <%= data.post.title%>

                <%} %>
    </title>

    <%-include layout/head%>

</head>

<body>
    <%-include layout/navDetail%>

        <%-include layout/header%>

         <%-include posts/postDetail%>


            <%-include layout/footer%>
                <%-include layout/bottom%>



</body>

</html>