<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>

    <%- include layout/head%>


</head>

<body>
    <%- include layout/nav%>
        <div class="content-wrapper">
            <div class="container-fuild" style="margin-top: 50px">
                <%- include block/quantity%>
                    <%- include users/tableUsers%>
                        <%- include skills/tableSKills%>
                            <%- include projects/tableProjects%>
                                <%- include posts/tablePosts%>
            </div>
        </div>
        <%- include layout/footer%>
            <%- include layout/bottom%>

                <script type="text/javascript" src="/static/js/post.js"></script>
                <script type="text/javascript" src="/static/js/skill.js"></script>
                <script type="text/javascript" src="/static/js/project.js"></script>
                <script type="text/javascript" src="/static/js/user.js"></script>
                
</body>

</html>